In [1]:
import numpy as np
import pandas as pd

In [2]:
# Define our matrices and R values
R1 = 1.591E27
R2 = 2.387E27
R3 = 1.432E28
R4 = 4.775E27 

A = np.array([
    [1, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 1, 0, 0, 0, 0, 0], 
    [1, 0, 0, 0, 1, -R1, 0, 0, 0],
    [0, 1, 0, 0, 1, 0, -R2, 0, 0],
    [0, 0, 1, 0, 1, 0, 0, -R3, 0],
    [0, 0, 0, 1, 1, 0, 0, 0, -R4],
    [0, 0, 0, 0, 0, 1, 1, 0, 0], 
    [0, 0, 0, 0, 0, 1, 0, 1, 0],
    [0, 0, 0, 0, 0, 1, 1, 1, 1]
])

b = np.array([
    [400000],
    [100000],
    [0],
    [0],
    [0],
    [0],
    [0],
    [0],
    [0]
])

In [3]:
# Solve system of equations
x = np.linalg.solve(A, b)

In [4]:
print(x)

[[ 4.00000000e+05]
 [ 7.74811558e+05]
 [ 1.89915201e+06]
 [ 1.00000000e+05]
 [-5.49905779e+05]
 [-9.42211055e-23]
 [ 9.42211055e-23]
 [ 9.42211055e-23]
 [-9.42211055e-23]]

In [8]:
data_dict = {
    'p1': x[0],
    'p2': x[1],
    'p3': x[2],
    'p4': x[3],
    'p5': x[4],
    'Q1': x[5],
    'Q2': x[6],
    'Q3': x[7],
    'Q4': x[8]
}

In [6]:
print(data_dict)

{'p1': array([400000.]), 'p2': array([774811.55778894]), 'p3': array([1899152.01005025]), 'p4': array([100000.]), 'p5': array([-549905.77889447]), 'Q1': array([-9.42211055e-23]), 'Q2': array([9.42211055e-23]), 'Q3': array([9.42211055e-23]), 'Q4': array([-9.42211055e-23])}

In [11]:
df = pd.DataFrame(data_dict.items(), columns=['Variable', 'Value'])

In [10]:
df

  Key                     Value
0  p1                [400000.0]
1  p2       [774811.5577889446]
2  p3      [1899152.0100502511]
3  p4                [100000.0]
4  p5      [-549905.7788944723]
5  Q1  [-9.422110552763815e-23]
6  Q2   [9.422110552763818e-23]
7  Q3   [9.422110552763818e-23]
8  Q4  [-9.422110552763817e-23]